menu {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


li {
    list-style-type: none;
}

.light-red-bg {
    background-color: lightcoral;
    color: black;
}

a {
    text-decoration: none !important;
    color: inherit;
    font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color:darkblue;
}

.username {
    font-size: medium;
}

.web-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
}

